@import "~bootstrap/scss/bootstrap.scss";

.square{
    background-color: black;
    padding: 17px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.traffic-light{
    background-color: black;
    padding: 15px;
    display: inline-block;
    border-radius: 20px;

}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.shadow{
    box-shadow:-0px 0px 50px 30px rgb(250, 248, 159) !important;
}